[submodule "Water-Data-Explorer"]
	path = Water-Data-Explorer
	url = https://github.com/BYU-Hydroinformatics/Water-Data-Explorer.git
	branch = master
[submodule "tethysapp-metdataexplorer"]
	path = tethysapp-metdataexplorer
	url = https://github.com/BYU-Hydroinformatics/tethysapp-metdataexplorer.git
	branch = master
[submodule "ggst"]
	path = ggst
	url = https://github.com/Aquaveo/ggst.git
	branch = tethys4_upgrade
[submodule "tethysapp-tethys_app_store"]
	path = tethysapp-tethys_app_store
	url = https://github.com/Aquaveo/tethysapp-tethys_app_store.git
	branch = multiple_stores
[submodule "tethysapp-swe"]
	path = tethysapp-swe
	url = https://github.com/Aquaveo/tethysapp-swe.git
	branch = tethys4
[submodule "tethysapp-hydrocompute"]
	path = tethysapp-hydrocompute
	url = https://github.com/tethysplatform/tethysapp-hydrocompute.git
	branch = main
[submodule "gwdm"]
	path = gwdm
	url = https://github.com/Aquaveo/gwdm.git
	branch = tethys_4_upgrade
[submodule "snow-inspector"]
	path = snow-inspector
	url = https://github.com/Aquaveo/snow-inspector
	branch = tethys4_upgrade
