*.pydevproject
*.project
*.egg-info
*.class
*.pyo
*.pyc
*.db
*.sqlite
*.DS_Store
.idea/
.vscode
data/*
keys/*
logs/*
public_data/*
charts/ciroh/*.lock
charts/ciroh/charts
charts/ciroh/ci/.sops.yaml
charts/ciroh/ci/secrets-dec.yaml