[submodule "tethysapp-metdataexplorer"]
	path = apps/tethysapp-metdataexplorer
	url = https://github.com/Aquaveo/tethysapp-metdataexplorer.git
	branch = master
[submodule "ggst"]
	path = apps/ggst
	url = https://github.com/Aquaveo/ggst.git
	branch = tethys4_upgrade
[submodule "tethysapp-tethys_app_store"]
	path = apps/tethysapp-tethys_app_store
	url = https://github.com/Aquaveo/tethysapp-tethys_app_store.git
	branch = master
[submodule "gwdm"]
	path = apps/gwdm
	url = https://github.com/Aquaveo/gwdm.git
	branch = gs-cloud-compatible
[submodule "snow-inspector"]
	path = apps/snow-inspector
	url = https://github.com/Aquaveo/snow-inspector
	branch = tethys4_upgrade
[submodule "Tethys-CSES"]
	path = apps/Tethys-CSES
	url = https://github.com/whitelightning450/Tethys-CSES
	branch = main
[submodule "hydroshare_api_tethysapp"]
	path = apps/hydroshare_api_tethysapp
	url = https://github.com/Aquaveo/hydroshare_api_tethysapp
	branch = master
[submodule "Water-Data-Explorer"]
	path = apps/Water-Data-Explorer
	url = https://github.com/Aquaveo/Water-Data-Explorer
	branch = master
[submodule "apps/tethysapp-hydrocompute"]
	path = apps/tethysapp-hydrocompute
	url = https://github.com/tethysplatform/tethysapp-hydrocompute.git
	branch = main
[submodule "apps/tethysapp-sweml"]
	path = apps/tethysapp-sweml
	url = https://github.com/karnesh/tethysapp-sweml.git
[submodule "apps/tethysapp-tethys_dash"]
	path = apps/tethysapp-tethys_dash
	url = https://github.com/tethysplatform/tethysapp-tethys_dash.git
