*.pydevproject
*.project
*.egg-info
*.class
*.pyo
*.pyc
*.db
*.sqlite
*.DS_Store
.idea/
data/*
keys/*
logs/*
public_data/*
helm/ciroh/dev_values.yaml
helm/ciroh/aws_values.yaml
helm/ciroh/*.lock
helm/ciroh/charts
