grids
cfbuild
ncarrays
area
utm
pyshp
pywaterml
torch
torchvision
torchaudio
geopandas
shapely
xarray
rioxarray
netCDF4
numpy
pygithub
gitpython==3.1.18
requests
semver
pandas
geojson
setuptools
netcdf4
cfunits
lxml
pyproj
xmltodict
suds-community
siphon
owslib
scipy
statsmodels
simplejson
pandarallel
gstools
thredds_crawler
matplotlib
sphinx_rtd_theme
sphinx
sphinxcontrib-napoleon