grids
cfbuild
ncarrays
area
utm
pyshp
pywaterml
geopandas
shapely
xarray
rioxarray
netCDF4
numpy
pygithub
gitpython==3.1.18
requests
semver
pandas
geojson
setuptools
netcdf4
cfunits
lxml
pyproj
xmltodict
suds-community