area
utm
pyshp
geopandas
shapely
xarray
rioxarray
numpy
pygithub
gitpython==3.1.18
requests
semver
pandas
geojson
setuptools
netcdf4
cfunits
lxml
pyproj
xmltodict
suds-community
siphon
owslib
scipy
simplejson
pandarallel
matplotlib
sphinx_rtd_theme
sphinx
sphinxcontrib-napoleon
pypng
httpx
nodejs
geoalchemy2
udunits2
geoserver-rest
boto3
scikit-learn
hs_restclient
