# vscode
.vscode/*

# Terraform files
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
crash.log
*.tfvars
*.tfbackend
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
.terraform.lock.hcl
terraform.rc

# Helm
*.yaml
*.yml
*.tgz
