area
utm
pyshp
geopandas
shapely
xarray
rioxarray
numpy==1.26.4 #if using > 2.0.0, the portal will break
pygithub
gitpython==3.1.18
requests
semver
pandas
geojson
setuptools
netcdf4
cfunits
lxml
pyproj
xmltodict
suds-community
siphon
owslib
scipy
simplejson
pandarallel
matplotlib
sphinx_rtd_theme
sphinx
sphinxcontrib-napoleon
pypng
httpx
nodejs
geoalchemy2
udunits2
geoserver-rest
boto3
scikit-learn
hs_restclient
djangorestframework
fiona
pynhd
intake>=0.6.6
pygeoogc
pygeoutils
pygeohydro
asyncio